<!DOCTYPE html>
<html lang="fr">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url"           content="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
        <meta property="og:type"          content="website">
        {% if actualQuizz is defined %}
            <meta property="og:title"         content="Nouveau Quizz! {{ actualQuizz.name }}">
            <meta property="og:description"   content="{{ actualQuizz.description }}">
        {% else %}
            <meta property="og:title"         content="Code Quizz!">
            <meta property="og:description"   content="Des quizzes sur des thèmes divers et variés.">
        {% endif %}
        <meta property="og:image"         content="http://lorempixel.com/400/200/">
        <meta property="fb:app_id"        content="1647384475542923">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% stylesheets
        'lib/bootstrap/css/bootstrap.min.css'
        'lib/font-awesome/css/font-awesome.css'
        'lib/animate/animate.css'
        'css/front/main.css'
        filter='cssrewrite' output='asset/css/ceya.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="quizz">
{% set config = configuration.current %}
{% set route = app.request.attributes.get('_route') %}

{% for type, flashMessages in app.session.flashBag.all() %}
  {% for flashMessage in flashMessages %}
    <div class="text-center alert {% if type == 'error' %}alert-warning{% elseif type == 'success' %}alert-success{% endif %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ flashMessage|raw }}
    </div>
  {% endfor %}
{% endfor %}

{% if app.session.get('isadmin') %}
<div class="container">
    <a href="{{ path('admin_default_index') }}" class="pull-right"><span class="fa fa-cog fa-2x"></span></a>
</div>
{% endif %}
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block modal %}{% endblock %}

{% javascripts
    'lib/jquery/jquery-2.1.1.js'
    'lib/bootstrap/js/bootstrap.min.js'
    'bundles/fosjsrouting/js/router.js'
    output='asset/js/ceya.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
