{% extends 'front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block meta %}
    {{ parent () }}
{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12 active-quizz">
            {% if (actualQuizz != null) %}
                <div class="quizz-header row">
                    <h1 class="text-center">{{ actualQuizz.name }}</h1>
                </div>
                <div class="quizz-description row">
                    <p class="text-center">
                        {{ actualQuizz.description|raw }}
                    </p>
                </div>
                <div class="text-center">
                    <div id="fb-root"></div>
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="box_count"></div>
                </div>
                <a href="{{ path('front_quizz', {'id' : actualQuizz.id}) }}" class="center-block btn btn-primary btn-lg btn-quizz">Je participe !</a>
            {% else %}
                Il n'y a pas de quizz actuellement, revenez plus tard!
                <div class="">
                    <div id="fb-root"></div>
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="button_count"></div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row box-container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="">Quizz terminés</h2>
            {% for quizz in previousQuizzes %}
                <div id="quizz_{{ quizz.id }}" class="">
                    <h3>{{ quizz.name }}</h3>
                    <p>
                        {{ quizz.description }}
                    </p>
                    <a href="" class="pull-right">Voir les résultats <span class="fa fa-arrow-circle-right"></span></a>
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2 class="">Prochains quizz</h2>
            {% for quizz in nextQuizzes %}
                <div id="quizz_{{ quizz.id }}" class="">
                    <h3>{{ quizz.name }}</h3>
                    <p>
                        {{ quizz.description }}
                    </p>
                    <a href="" class="pull-right">Voir les gains <span class="fa fa-arrow-circle-right"></span></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1647347285546642";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}