{% extends 'front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block meta %}
    {{ parent () }}
{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12 active-quizz">
            {% if (actualQuizz != null) %}
                <div class="quizz-header row">
                    <h1 class="text-center">{{ actualQuizz.name }}</h1>
                </div>
                <div class="quizz-description row">
                    <p class="text-center">
                        {{ actualQuizz.description|raw }}
                    </p>
                </div>
                {% if participation is null %}
                    <a href="{{ path('front_quizz', {'id' : actualQuizz.id}) }}" class="center-block btn btn-primary btn-lg btn-quizz">Je participe !</a>
                {% else %}
                    <button  class="center-block btn btn-primary btn-lg btn-quizz"> Vous avez déjà participé </button>
                {% endif %}
            {% else %}
                <div class="quizz-description row">
                    <p class="text-center">
                        Il n'y a pas de quizz actuellement, revenez plus tard!
                    </p>
                </div>
            {% endif %}
            <div class="text-center share-fb">
                <div id="fb-root"></div>
                <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="box_count"></div>
            </div>
        </div>
    </div>
    <div class="row box-container">
        {% if previousQuizzes|length > 0 %}
        <div class="col-xs-12 col-sm-6">
            <div class="quizz-header row">
                <h2 class="text-center">Quizz terminés</h2>
            </div>
            {% for quizz in previousQuizzes %}
                <div id="quizz_{{ quizz.id }}">
                    <h3>{{ quizz.name }}</h3>
                    <div class="col-md-3">
                        <img src="{{ asset('images/background/' ~ quizz.imageName) }}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9">
                        <p>
                            {{ quizz.description|raw }}
                        </p>
                        <a href="{{ path('results_quizz', {'id' : quizz.id}) }}" class="pull-right">Voir les résultats <span class="fa fa-arrow-circle-right"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if nextQuizzes|length > 0 %}
        <div class="col-xs-12 col-sm-6">
            <div class="quizz-header row">
                <h2 class="text-center">Prochains quizz</h2>
            </div>
            {% for quizz in nextQuizzes %}
            <div id="quizz_{{ quizz.id }}" class="col-md-12">
                <h3>{{ quizz.name }}</h3>
                <div class="col-md-3">
                    <img src="{{ asset('images/background/' ~ quizz.imageName) }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <p>
                        {{ quizz.description|raw }}
                    </p>
                    <a href="{{ path('results_quizz', {'id' : quizz.id}) }}" class="pull-right">Voir les résultats <span class="fa fa-arrow-circle-right"></span></a>
                </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1647347285546642";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
