{% extends 'Admin/Template/ibox.html.twig' %}

{% block title -%}Quizz{% endblock %}
{% block breadcrumb -%}<li><a href="{{ path('admin_quizz_index') }}">Quizz</a></li><li class="active">Edition</li>{% endblock %}

{% block iboxTitle -%}Modification d'un quizz{% endblock %}
{% block iboxTools -%}
    <button data-href="{{ path('admin_question_new') }}" data-quizz="{{ entity.id }}" id="add_question" class="btn btn-primary btn-xs m-l-sm"><i class="fa fa-plus"></i> Ajouter une question</button>
{% endblock %}

{% block iboxContent -%}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Questions</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Configuration</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div id="questions">
                        {% for question in entity.questions %}
                            <ul class="list-group clear-list m-t">
                                <li class="list-group-item fist-item">
                                    Question {{ loop.index }} : {{ question.question }}
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-{% if question.responseValide == 1 %}primary{% else %}danger{% endif %}">1</span>
                                    {{ question.response1 }}
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-{% if question.responseValide == 2 %}primary{% else %}danger{% endif %}">2</span>
                                    {{ question.response2 }}
                                </li>
                                {% if question.response3 %}
                                <li class="list-group-item">
                                    <span class="label label-{% if question.responseValide == 3 %}primary{% else %}danger{% endif %}">3</span>
                                    {{ question.response3 }}
                                </li>
                                {% endif %}
                                {% if question.response4 %}
                                <li class="list-group-item">
                                    <span class="label label-{% if question.responseValide == 4 %}primary{% else %}danger{% endif %}">4</span>
                                    {{ question.response4 }}
                                </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            Aucune question encore ajouté à ce quizz !
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{ form(form) }}
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="save" class="btn btn-primary btn-xs m-l-sm" onclick="save()"><i class="fa fa-check"></i> Enregistrer</button>
                            <button class="btn btn-danger btn-xs m-l-sm" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash-o"></i> Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% embed 'Admin/Template/modal.html.twig' %}
        {% block modal_id %}modalDelete{% endblock %}
        {% block modal_header %}
            <i class="fa fa-trash modal-icon"></i>
            <h2>Confirmation de suppression Quizz</h2>
        {% endblock %}
        {% block modal_body %}
            <div class="text-center">
                <p><strong>Etes vous sur de vouloir supprimer Quizz ?</strong></p>
                <p><span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Cette action est irréversible !</span></p>
            </div>
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <a href="{{ path('admin_quizz_delete', { 'id': entity.id, 'token': csrf_token('delete_quizz') }) }}" class="btn btn-danger">Supprimer</a>
        {% endblock %}
    {% endembed %}

    {% embed 'Admin/Template/modal.html.twig' %}
        {% block modal_id %}modalAddQuestion{% endblock %}
        {% block modal_header %}
            Ajout d'une question
        {% endblock %}
        {% block modal_body %}
        {% endblock %}
        {% block modal_footer %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts -%}
    <script>
        $(document).ready(function(){
            $('#appbundle_quizz_gains').summernote({
                defaultFontName: '"Arial Narrow", Arial, Sans-Serif'
            });
            $('#appbundle_quizz_description').summernote({
                defaultFontName: '"Arial Narrow", Arial, Sans-Serif'
            });
            $('.note-fontname').remove();
        });

        $('[name="{{ form.vars.name }}"]').append('<input type="submit" class="hidden" />');
        var save = function() {
            $('[name="{{ form.vars.name }}"]').find('[type="submit"]').trigger('click');
        };

        $('#add_question').on('click', function() {
            $.ajax({
                url: $(this).attr('data-href'),
                data: {quizzId: $(this).attr('data-quizz')},
                dataType: 'html',
                success: function(html) {
                    $('#modalAddQuestion .modal-body').html(html);
                    $('#modalAddQuestion').modal('show');
                },
                error: function() {
                    alert('Request Error !');
                }
            });
            return false;
        });
    </script>
{% endblock %}
