{% extends 'front.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12">
            <div class="quizz-header row">
                <h1 class="text-center">{{ quizz.name }}</h1>
            </div>
            <div class="quizz-description row">
                <p class="text-center">
                    {{ quizz.description|raw }}
                </p>
            </div>
        </div>

        <div class="text-center">
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="box_count"></div>
        </div>

        <div class="col-md-6">
            <h2 class="text-center">Quelques règles</h2>
            <ul>
                {{ quizz.rule.content|raw }} <br>
                {% if quizz.countdown != null %}
                    <span class="fa fa-warning"></span> Attention <br>
                    Le temps imparti par question est de {{ quizz.countdown | date('s') }} secondes pour ce quizz !
                {% endif %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="text-center">Gains</h2>
            {{ quizz.gains|raw }}
        </div>

        <div class="col-md-12">
            <a href="{{ path('front_question', {'id': quizz.id}) }}" class="center-block btn btn-primary btn-lg btn-quizz">Commencer !</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1647347285546642";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
