{% extends 'front.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12">
            <h1 class="text-center elegantshadow">{{ quizz.name }}</h1>
            <p class="text-center">
                {{ quizz.description }}
            </p>
        </div>

        <div class="col-md-offset-10 col-md-2">
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="button_count"></div>
        </div>

        <div class="col-md-6">
            <h2 class="elegantshadow">Quelques règles</h2>
            <ul>
                <li>Selon la question, une ou plusieurs réponses sont possibles</li>
                <li>Une fois une réponse validée, il est impossible de revenir en arrière</li>
                <li>Vous pouvez à tout moment arrêter le quizz et le reprendre la où vous l'avez quitté</li>
                {% if quizz.countdown != null %}
                    <li>Temps imparti : {{ quizz.countdown | date('i:s') }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="elegantshadow">Gains</h2>
            {{ quizz.gains }}
        </div>

        <div class="col-md-12">
            <a href="{{ path('front_question', {'id': quizz.id}) }}" class="center-block btn btn-primary btn-lg btn-quizz">Commencer !</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1647347285546642";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
