{% extends 'front.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}

<div class="row box-container">
    <div class="col-md-12">
        <div class="quizz-header row">
            {% if actualQuizz.countdown != null %}
                <div id="bar-countdown" class="bar-countdown"></div>
                <div id="countdown" class="countdown text-center">{{ actualQuizz.countdown | date('i:s') }}</div>
            {% endif %}
            <h1 class="col-md-4">Question {{ id_question + 1 }} : </h1>
            <h4 class="question-header col-md-8">{{ actualQuestion.question }}</h4>
        </div>
        <br>
        <ul class="list-group clear-list m-t">
            <form action="{{ path('reponse_quizz', {'id': actualQuizz.id, 'id_question' : actualQuestion.id}) }}" method="post">
                <li class="radio col-md-offset-3 col-md-6">
                    <label for="question1">{{ actualQuestion.response1 }}</label>
                    <input id="question1" type="radio" name="optionsRadios" value="1" class="">
                </li>
                <li class="radio col-md-offset-3 col-md-6">
                    <label for="question2">{{ actualQuestion.response2 }}</label>
                    <input id="question2" type="radio" name="optionsRadios" value="2" class="">
                </li>
                <li class="radio col-md-offset-3 col-md-6">
                    <label for="question3">{{ actualQuestion.response3 }}</label>
                    <input id="question3" type="radio" name="optionsRadios" value="3" class="">
                </li>
                <li class="radio col-md-offset-3 col-md-6">
                    <label for="question4">{{ actualQuestion.response4 }}</label>
                    <input id="question4" type="radio" name="optionsRadios" value="4" class="">
                </li>
                <input type="hidden" name="quizz_id" value="{{ actualQuizz.id }}">
                <input type="hidden" name="question_id" value="{{ actualQuestion.id }}">
                <input type="hidden" name="num_question" value="{{ num_question + 1 }}">
                <input type="hidden" name="participant" value="10208381024703613">
                <input type="hidden" name="score" value="{{ score }}">
                <nav>
                    <ul class="pager">
                        <li class="">
                            <input type="submit" class="btn btn-primary btn-lg disabled" id="submit_answer" value="Question Suivante">
                        </li>
                    </ul>
                </nav>
            </form>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function getTimeRemaining() {
            var minutes = parseFloat($('#countdown').html().split(':')[0]);
            var seconds = parseFloat($('#countdown').html().split(':')[1]);
            return {
                'minutes': minutes,
                'seconds': seconds
            }
        }

        function initializeClock() {
            var clock = $('#countdown');
            var bar = $('#bar-countdown');
            var maxWithMinAndSec = getTimeRemaining();
            var max = maxWithMinAndSec.seconds + maxWithMinAndSec.minutes*60;
            function updateClock(){
                var timer = getTimeRemaining();

                timer.seconds--;
                if (timer.seconds <= 0) {
                    timer.seconds = 59;
                    timer.minutes--;
                }

                var actual = ((timer.seconds + timer.minutes*60) / max) * 100;
                bar.css('width', actual + '%');

                if (timer.minutes < 10) {
                    if (timer.seconds < 10) {
                        clock.html('0' + timer.minutes + ':0' + timer.seconds);
                    } else {
                        clock.html('0' + timer.minutes + ':' + timer.seconds);
                    }
                } else {
                    clock.html(timer.minutes + ':' + timer.seconds);
                }

                if(timer.minutes <= 0 && timer.seconds <= 0){
                    clearInterval(time_interval);
                    submitAnswer();
                }


            }
            updateClock();
            var time_interval = setInterval(updateClock, 1000);
        }

        $(document).ready(function() {

            $('#submit_answer').click(function(){
                submitAnswer();
            });

            $('input[name=optionsRadios]').change(function() {
                if ($('#submit_answer').hasClass('disabled')) {
                    $('#submit_answer').removeClass('disabled');
                }

                $(this).each(function(){
                    if ($(this).prop("checked")) {
                        $('input[name=optionsRadios]').parent().removeClass("checked");
                        $(this).parent().addClass("checked");
                    }
                });
            });

            initializeClock();

        });
    </script>
{% endblock %}
