{% extends 'front.html.twig' %}

{% block title %}CodeQuizz | Quizz{% endblock %}

{% block body %}

<div class="row box-container">
    <div class="col-md-12">
        <div class="quizz-header row">
            {% if actualQuizz.countdown != null %}
                <div id="bar-countdown" class="bar-countdown"></div>
                <div id="countdown" class="countdown text-center">{{ actualQuizz.countdown | date('s') }}</div>
            {% endif %}
            <h1 class="col-md-4">Question {{ num_question + 1 }} : </h1>
            <h4 class="question-header col-md-8">{{ actualQuestion.question }}</h4>
        </div>
        <br>
            <form action="{{ path('reponse_quizz', {'id': actualQuizz.id, 'id_question' : actualQuestion.id}) }}" method="post">
                <div class="col-md-12">
                    <ul class="list-group clear-list m-t">
                        {% if actualQuestion.response1 %}
                        <li class="radio col-md-offset-3 col-md-6 col-xs-offset-3 col-xs-6">
                            <label for="question1">{{ actualQuestion.response1 }}</label>
                            <input id="question1" type="radio" name="optionsRadios" value="1" class="">
                        </li>
                        {% endif %}
                        {% if actualQuestion.response2 %}
                        <li class="radio col-md-offset-3 col-md-6 col-xs-offset-3 col-xs-6">
                            <label for="question2">{{ actualQuestion.response2 }}</label>
                            <input id="question2" type="radio" name="optionsRadios" value="2" class="">
                        </li>
                        {% endif %}
                        {% if actualQuestion.response3 %}
                        <li class="radio col-md-offset-3 col-md-6 col-xs-offset-3 col-xs-6">
                            <label for="question3">{{ actualQuestion.response3 }}</label>
                            <input id="question3" type="radio" name="optionsRadios" value="3" class="">
                        </li>
                        {% endif %}
                        {% if actualQuestion.response4 %}
                        <li class="radio col-md-offset-3 col-md-6 col-xs-offset-3 col-xs-6">
                            <label for="question4">{{ actualQuestion.response4 }}</label>
                            <input id="question4" type="radio" name="optionsRadios" value="4" class="">
                        </li>
                        {% endif %}
                    </ul>
                    <input type="hidden" name="quizz_id" value="{{ actualQuizz.id }}">
                    <input type="hidden" name="question_id" value="{{ actualQuestion.id }}">
                    <input type="hidden" name="num_question" value="{{ num_question + 1 }}">
                    <input type="hidden" name="participant" value="{{ participant }}">
                    <input type="hidden" name="score" value="{{ score }}">
                    <input type="hidden" name="answer" value="">
                    <input type="hidden" name="countdown" value="">
                    <div class="text-center">
                        <br>
                        <input type="submit" class="btn btn-primary btn-lg disabled" id="submit_answer" value="Question Suivante" disabled="disabled">
                        <br><br>
                    </div>
                </div>
            </form>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function getTimeRemaining() {
            var seconds = parseFloat($('#countdown').html());
            return {
                'seconds': seconds
            }
        }

        function initializeClock() {
            var clock = $('#countdown');
            var bar = $('#bar-countdown');
            var max = getTimeRemaining().seconds;
            function updateClock(){
                var timer = getTimeRemaining();

                timer.seconds--;

                var actual = ((timer.seconds) / max) * 100;
                bar.css('width', actual + '%');

                if (timer.seconds < 10) {
                    clock.html('0' + timer.seconds);
                    $('input[name=countdown]').val('0' + timer.seconds);
                } else {
                    clock.html(timer.seconds);
                    $('input[name=countdown]').val(timer.seconds);
                }

                if(timer.seconds <= 0){
                    clearInterval(time_interval);
                    $('#submit_answer').prop("disabled", false);
                    $('#submit_answer').trigger('click');
                }


            }
            updateClock();
            var time_interval = setInterval(updateClock, 1000);
        }

        $(document).ready(function() {

            $('input[name=optionsRadios]').change(function() {
                if ($('#submit_answer').hasClass('disabled')) {
                    $('#submit_answer').removeClass('disabled');
                    $('#submit_answer').prop("disabled", false);
                }

                $(this).each(function(){
                    if ($(this).prop("checked")) {
                        $('input[name=optionsRadios]').parent().removeClass("checked");
                        $(this).parent().addClass("checked");
                    }
                });

                $('input[name=answer]').val($(this).val());
            });

            initializeClock();

        });
    </script>
{% endblock %}
