{% extends 'Admin/Template/ibox.html.twig' %}

{% block title %}Content Block{% endblock %}
{% block breadcrumb %}<li class="active">Content Block</li>{% endblock %}

{% block iboxTitle %}Liste des contents block{% endblock %}
{% block iboxTools %}<a href="{{ path('admin_contentblock_new') }}"><i class="fa fa-plus-circle"></i></a>{% endblock %}

{% block iboxContent %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th class="text-center">Date de création</th>
            <th class="text-center">Date de modification</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contentBlock in contentBlocks %}
            <tr>
                <td>{{ contentBlock.slug }}</td>
                <td class="text-center">{{ contentBlock.created|date('Y-m-d H:i') }}</td>
                <td class="text-center">{{ contentBlock.updated|date('Y-m-d H:i') }}</td>
                <td class="text-center">
                    <a class="btn btn-xs btn-warning" href="{{ path('admin_contentblock_edit', { 'id': contentBlock.id }) }}"><span class="fa fa-eye"></span> Voir</a>
                    <a class="btn btn-xs btn-danger js-remove-collaborator" data-toggle="modal" data-target="#modal_contentblock" data-href="{{ path('admin_contentblock_remove', {'id': contentBlock.id, 'token': csrf_token('remove_contentblock')}) }}"><i class="fa fa-trash"></i> Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun content block trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% embed 'Admin/Template/modal.html.twig' %}
        {% block modal_id %}modal_contentblock{% endblock %}
        {% block modal_header %}
            <i class="fa fa-trash modal-icon"></i>
            <h2>Confirmation de suppression du content block</h2>
        {% endblock %}
        {% block modal_body %}
            <div class="text-center">
                <p><strong>Etes vous sur de vouloir supprimer ce content block ?</strong></p>
                <p><span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Cette action est irréversible !</span></p>
            </div>
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
            <a href="#" id="js-remove-link" class="btn btn-danger">Supprimer</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#modal_contentblock').on('show.bs.modal', function (e) {
                var button = $(e.relatedTarget);
                var href = button.data('href');
                var modal = $(this)
                modal.find('#js-remove-link').attr('href', href);
            })
        })
    </script>
{% endblock %}