{% extends 'Admin/Template/ibox.html.twig' %}

{% block title %}{{ user.getFullName }}{% endblock %}
{% block breadcrumb %}<li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li><li class="active">{{ user.getFullName }}</li>{% endblock %}

{% block iboxTitle %}Formulaire d'édition{% endblock %}
{% block iboxTools %}
    <button id="save" class="btn btn-primary btn-xs m-l-sm" onclick="save()"><i class="fa fa-check"></i> Enregistrer</button>
    {% if app.user != user %}
        <button class="btn btn-danger btn-xs m-l-sm" data-toggle="modal" data-target="#modalDeleteUser"><i class="fa fa-trash-o"></i> Supprimer</button>
    {% endif %}
{% endblock %}

{% block iboxContent %}

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="hidden"></button>
    {{ form_end(form) }}

    {% if app.user != user %}
        {% embed 'Admin/Template/modal.html.twig' %}
            {% block modal_id %}modalDeleteUser{% endblock %}
            {% block modal_header %}
                <i class="fa fa-trash modal-icon"></i>
                <h2>Confirmation de suppression de l'utilisateur</h2>
            {% endblock %}
            {% block modal_body %}
                <div class="text-center">
                    <p><strong>Etes vous sur de vouloir supprimer l'utilisateur {{ user.getFullName }} ?</strong></p>
                    <p><span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Cette action est irréversible !</span></p>
                </div>
            {% endblock %}
            {% block modal_footer %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{{ path('admin_user_remove', {'id': user.id, 'token': csrf_token('remove_user')}) }}" class="btn btn-danger">Supprimer</a>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var save = function() {
            $('[name="{{ form.vars.name }}"]').submit();
        };
    </script>
{% endblock %}
